<title>React × Node EJS Demo Apps</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="./public/images/favicon.ico">
<link rel="stylesheet" href="./vendor/salesforce-lightning-design-system/assets/styles/salesforce-lightning-design-system.css">