<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <div id="root"></div>
    <script src="../react/build/todo.bundle.js"></script>
  </body>
</html>